{% extends "index.html" %}

{% block content %}

  {% for post in pages %}
    {% if post.date and post.url matches "%.*/blog/.*%" %} {# Determine if the page is a blog post #}
      <div class="post">
        <div class="post-meta">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>Posted on {{ post.date }}</p>
        </div>
        <div class="post-content">
          {{ post.excerpt }}
        </div>
        <div class="post-options">
          <p><a href="{{ post.url }}">See full post...</a></p>
        </div>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
