
<div id="header">
  <div id="banner" >
    <a href="{{ base_url }}">
      <img class="center block" alt="{{ site_title }}" src="{{ theme_url }}/images/logo.png" />
    </a>
  </div>
  <div id="nav">
    {# List all top-level navigation links #}
    {% for page in pages %}
      {% if not page.date %}
        {% if page.title == meta.title %}
          <div><a class="heading active" href="{{ page.url }}">{{ page.title }}</a></div>
        {% else %}
          <div><a class="heading" href="{{ page.url }}">{{ page.title }}</a></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
