<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ site_title }} - {{ current_page.title }}</title>
    {% if meta.description %}
      <meta name="description" content="{{ meta.description }}" />
    {% endif %}
    {% if meta.robots %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ theme_url }}/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker" rel="stylesheet">
  </head>
  <body>

    {% include "header.html" %}

    <div id="content">

      {% block content %}

        {{ content }}

        <div id="highlights" class="table">
          <div class="col3">
            <h3>Group members</h3>
            <img alt="*" src="{{ theme_url }}/images/highlight1.jpg" />
            <p>Ça Claque! Together since the fall of 2009, its members are devoted to the evolution of folk tradition.</p>
            <a href="/about">Learn more »</a>
          </div>
          <div class="col3">
            <h3>Events</h3>
            <img alt="*" src="{{ theme_url }}/images/highlight2.jpg" />
            <p>Would you like to see us perform? Discover our site, as well as our upcoming events.</p>
            <a href="/events">Learn more »</a>
          </div>
          <div class="col3">
            <h3>Gallery</h3>
            <img alt="*" src="{{ theme_url }}/images/highlight3.jpg" />
            <p>Come see our photo gallery! Preview the Ça Claque! experience today.</p>
            <a href="https://www.instagram.com/caclaque/">Learn more »</a>
          </div>
        </div>

      {% endblock %}

    </div>

    {% include "footer.html" %}

  </body>
</html>
