/*************************************************
   TINMAN ELECTRONICS
   project: tinmanelectronics.com website
   file:    style.css
   author:  Justin R. St-Amant
   date:    2015-09-20
*************************************************/

* {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}

p {
  font-size: 1em;
}

a:link, a:visited, a:active {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #f44;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
}

html {
  /*background-color: #6a916a; OBSOLETE GREEN BACKGROUND */
  background-image: url("/themes/cc/images/background.png");
}

body {
  /*background-color: #fff; OBSOLETE */
  /*border-radius: 15px; OBSOLETE */
  font-size: 100%;
  margin: 0.5% auto;
  max-width: 980px;
}

.post {
  margin-bottom: 2%;
}

.post * {
  margin: 0;
}

.post-meta a:link, .post-meta a:visited, .post-meta a:active {
  color: inherit;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.post div {
  margin-bottom: 1%;
}

.left {
  float: left;
  margin-right: 1%;
}

.table {
  display: table;
  width: 100%;
}

.col3 {
  display: table-cell;
  padding: 1%;
  width: 33%;
}

/*******************************************************************************
Header elements
*******************************************************************************/

#banner {
  padding: 1%;
}

#header {
  border-bottom: 1px solid #777;
}

#header img {
  max-width: 50%;
}

#nav {
  display: table;
  width: 100%;
  padding-bottom: 1%;
}

#nav div {
  display: table-cell;
  text-align: center;
}

#nav a {
  color: #000;
  font-size: 200%;
}

#nav a:link, #nav a:visited, #nav a:active {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a.active:link, #nav a.active:visited {
  text-decoration: underline;
}

/*******************************************************************************
Content elements
*******************************************************************************/

#content {
  padding: 2%;
  text-align: center;
}

@media only screen and (max-width: 640px) {
    .col3 {
        border-top: 1px solid #777;
        display: block;
        width: 100%;
        padding: 0% 0% 3% 0%;
    }
}

/*******************************************************************************
Footer elements
*******************************************************************************/

#footer {
  border-top: 1px solid #777;
  text-align: center;
}

#social-media {
  padding: 2%;
}

/*******************************************************************************
Utility classes
*******************************************************************************/

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: 'Permanent Marker', cursive;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

